.language-selector {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
  }
  
  .language-selector select {
    font-size: 12px;
    padding: 4px;
  }

  body{
    background-color: transparent;
  }
  