@import 'bootstrap/dist/css/bootstrap.min.css';
@import "primeicons/primeicons.css";



/* Styles globaux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 70px;
  background: #ffffff;
  color: #2C3E50;
}

html {
  scroll-behavior: smooth;
}

/* Utilitaires */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
